body {
    margin: 0;
    padding: 0;
}
header {
    background: black;
    position: fixed;
    display: flex;
    z-index: 2;
    color: white;
    justify-content: center;
    width: 100%;
    height: 100px;
} 

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
li{
    margin-left: 50px;
    list-style-type: none !important;
    padding: 1px;
    cursor: pointer;
    padding: 8px;
}
li:hover {
    background-color: red;
    border-radius: 5px;
}
.navContent{
    width: 65%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.titleUser{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 7px;
}
.userImgNav{
    width: 50px;
}